<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container d-flex justify-content-center">
    <div class="w-100 d-flex flex-row justify-content-between">
      <h2 class="text-light text-center fs-1">{{'APP_NAME' | translate}}</h2>

      <div class="d-flex justify-content-between">
        <div class="navbar-nav d-flex justify-content-around">
          <a class="nav-link align-content-center"
             routerLink="/app"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            {{'MAIN' | translate}}
          </a>
          <a class="nav-link align-content-center"
             routerLink="/app/post-form"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            {{'ADD_POST' | translate}}
          </a>
          <a class="nav-link align-content-center"
             routerLink="/app/my-posts"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            {{'MY_POSTS' | translate}}
          </a>
        </div>

        <div class="ml-4 align-content-center">
          <button class="btn btn-danger btn-sm"
                  type="button"
                  (click)="logout()">
            {{'LOGOUT' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
