<div class="post card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h5>
        <ng-container *ngIf="removeLinkToDetails; else titleWithLink">
          #{{post.id}} {{post.title}}
        </ng-container>

        <ng-template #titleWithLink>
          <a class="link-dark"
             [routerLink]="['/app/post-details', post.id]"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            #{{post.id}} {{post.title}}
          </a>
        </ng-template>
      </h5>

      <h6>{{post.author.login}}</h6>
    </div>
    <p class="card-text">{{short ? (post.content | short) : post.content}}</p>
  </div>
</div>
