<div class="post card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h5>
        <ng-container *ngIf="removeLinkToDetails; else titleWithLink">
          <span class="me-2">#{{post.id}} {{post.title}}</span> <app-rating [post]="post" [short]="short"></app-rating>
        </ng-container>

        <ng-template #titleWithLink>
          <a class="link-dark me-2"
             [routerLink]="['/app/post-details', post.id]"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            #{{post.id}} {{post.title}}
          </a>
          <app-rating [post]="post" [short]="short"></app-rating>
        </ng-template>
      </h5>

      <div class="additional-info d-flex gap-2">
        {{post.author.login}}

        <div *ngIf="post.isEditable && !short" class="d-flex flex-row gap-1">
          <a class="btn btn-outline-info btn-sm"
             [routerLink]="['/app/post-form', post.id]">
            {{'EDIT' | translate}}
          </a>

          <button type="button"
                  (click)="delete()"
                  class="btn btn-outline-danger btn-sm">
            {{'DELETE' | translate}}
          </button>
        </div>
      </div>
    </div>
    <p class="card-text">{{short ? (post.content | short) : post.content}}</p>
  </div>
</div>
