<form  *ngIf="post$ | async"
       (ngSubmit)="save()"
       class="post card">
  <div class="card-body">
    <h5 class="card-title text-center">
      <input type="text"
             class="form-control"
             [(ngModel)]="model.title"
             name="title"
             [placeholder]="'POST_NAME' | translate"
      />
    </h5>
    <hr />
    <div class="desc-container h-75">
      <p class="card-text">
          <textarea type="text"
                    class="form-control"
                    [(ngModel)]="model.content"
                    name="content"
                    rows="15"
                    [placeholder]="'POST_CONTENT' | translate"></textarea>
      </p>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <button type="submit"
            class="btn btn-success">
      {{'SAVE' | translate}}
    </button>
  </div>
</form>


