<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container d-flex justify-content-center">
    <div class="w-100 d-flex flex-row justify-content-between">
      <div class="d-flex">
        <h2 class="text-light fs-1">{{'APP_NAME' | translate}}</h2>
      </div>

      <div class="d-flex justify-content-between">
        <div class="navbar-nav d-flex justify-content-between w-100">
          <a class="nav-link align-content-center"
             routerLink=""
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            {{'MAIN' | translate}}
          </a>
          <a class="nav-link align-content-center"
             routerLink="login"
             routerLinkActive="active">
            {{'LOGIN' | translate}}
          </a>
          <a class="nav-link align-content-center"
             routerLink="register"
             routerLinkActive="active">
            {{'REGISTER' | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
